
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1492255348688'); /* IE9*/
  src: url('iconfont.eot?t=1492255348688#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1492255348688') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1492255348688') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1492255348688#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-star:before { content: "\e611"; }

.icon-unstar:before { content: "\e64b"; }

.icon-github:before { content: "\e735"; }

.icon-bar-graph:before { content: "\e601"; }

.icon-box:before { content: "\e602"; }

.icon-cross:before { content: "\e607"; }

.icon-download:before { content: "\e603"; }

.icon-ellipsis:before { content: "\e604"; }

.icon-lock:before { content: "\e605"; }

.icon-search:before { content: "\e600"; }

.icon-unlock:before { content: "\e606"; }

